[Desktop Entry]
Encoding=UTF-8
Name=HelloWorld2
Name[zh_CN]=您好世界2
Icon=text-x-c++src
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Leslie Zhai
X-KDE-PluginInfo-Email=xiang.zhai@i-soft.com.cn
X-KDE-PluginInfo-Name=org.kde.plasma.helloworld2
X-KDE-PluginInfo-Version=5.4.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=Plasma/Applet
